<?php defined('BASEPATH') OR exit('No direct script access allowed'); ?>
    <section class="product-intro container-fluid">
        <div class="container-fluid">
            <div class="container">
                <div class="intro-image col-xs-3">
                	<img src="<?=base_url()?>static/img/product-intro1.png">
                </div>
                <div class="intro-content col-xs-9">
                    <h1>知识面新</h1>
                    <p>平台拥有的内容均为当前电子信息领域最新研发成果</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="intro-image col-xs-3">
                	<img src="<?=base_url()?>static/img/product-intro2.png">
                </div>
                <div class="intro-content col-xs-9">
                    <h1>适用面广</h1>
                    <p>平台充分考虑不同学生层次需求，既与课程内容结合，又能创新拓展</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="intro-image col-xs-3">
                	<img src="<?=base_url()?>static/img/product-intro3.png">
                </div>
                <div class="intro-content col-xs-9">
                    <h1>实践性强</h1>
                    <p>提供了联线、编程、自主设计等环节，让学生可以在平台上进行直接创作</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="intro-image col-xs-3">
                	<img src="<?=base_url()?>static/img/product-intro4.png">
                </div>
                <div class="intro-content col-xs-9">
                    <h1>趣味性浓</h1>
                    <p>创新内容不仅具有较好的知识性，也具有浓烈的趣味性，让学生在快乐中学习</p>
                </div>
            </div>
        </div>
    </section>
