/* Preset color */

$selectionBg: #121212;
$selectionText: #ffffff;
$keyColor-1: rgba(255, 255, 255, 0.9);
$keyColor-2: #dedede;
$navHover: 3px solid #232323;

/* Global Fonts Setting */

body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Selection Color */

::selection {
    background-color: $selectionBg;
    color: $selectionText;
}


/* Reset the container */

.container {
    width: 970px;
    max-width: none !important;
    .navbar-header,
    .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: none !important;
    }
}

.container-fluid {
    padding: 0;
    min-width: 970px;
}


/* Demonstrate the grids */

.col-xs-4 {
    padding: 15px;
}


/* Always float the navbar header */

.navbar {
    min-height: 53px;
    margin: 0 0 -53px 0;
    width: 100%;
    z-index: 99;
    &.navbar-default {
        position: absolute;
        background-color: $keyColor-1;
        border: none;
    }
    .menu {
        ul {
            display: none;
            width: 110px;
            background-color: $keyColor-1;
            padding: 0;
            position: absolute;
            list-style: none;
            text-align: center;
            li {
                padding: 10px;
                position: relative;
                height: auto;
                a {
                    font-weight: 300;
                    text-decoration: none;
                    &:hover {
                        border-bottom: none;
                    }
                }
                &:hover {
                    background-color: $keyColor-2;
                }
            }
        }
        &:hover {
            >a {
                border-bottom: $navHover;
            }
            ul {
                display: block;
            }
        }
    }
}


/* Undo the collapsing navbar */

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}


/* Always apply the floated nav */

.navbar-nav {
    float: left;
    margin: 0;
    > li {
        float: left;
        > a {
            padding: 15px;
        }
        text-align: center;
        width: 120px;
    }
}


/* Redeclare since we override the float above */


/* Undo custom dropdowns */

.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > {
    li > a {
        &:hover,
        &:focus {
            color: #fff !important;
            background-color: #428bca !important;
        }
    }
    .active > a {
        color: #fff !important;
        background-color: #428bca !important;
        &:hover,
        &:focus {
            color: #fff !important;
            background-color: #428bca !important;
        }
    }
    .disabled > a {
        color: #999 !important;
        background-color: transparent !important;
        &:hover,
        &:focus {
            color: #999 !important;
            background-color: transparent !important;
        }
    }
}


/* Undo form expansion */

.navbar-form {
    float: left;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-control-static {
        display: inline-block;
    }
    .input-group {
        display: inline-table;
        vertical-align: middle;
        .input-group-addon,
        .input-group-btn,
        .form-control {
            width: auto;
        }
        > .form-control {
            width: 100%;
        }
    }
    .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .radio,
    .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .radio label,
    .checkbox label {
        padding-left: 0;
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .has-feedback .form-control-feedback {
        top: 0;
    }
}


/* Undo inline form compaction on small screens */

.form-inline {
    .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-control-static {
        display: inline-block;
    }
    .input-group {
        display: inline-table;
        vertical-align: middle;
        .input-group-addon,
        .input-group-btn,
        .form-control {
            width: auto;
        }
        > .form-control {
            width: 100%;
        }
    }
    .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .radio,
    .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .radio label,
    .checkbox label {
        padding-left: 0;
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .has-feedback .form-control-feedback {
        top: 0;
    }
}


/* Custom styles for the website */

.navbar-brand {
    margin-left: -15px;
    height: 53px;
    img {
        margin: -12px 0;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}

.navbar-default {
    border-radius: 0;
    .navbar-header {
        float: none;
        position: relative;
        margin: 0 auto;
    }
    .navbar-nav {
        li {
            padding: 0 5px;
            > a {
                font-weight: 800;
                color: #787878;
                &:hover {
                    border-bottom: $navHover;
                }
            }
        }
        > .active > a {
            background-color: transparent !important;
            border-bottom: $navHover;
        }
    }
}


/*
Slider Parts
 */

.slider {
    .carousel-inner {
        max-height: 800px;
        text-align: center;
        > .item > {
            .cover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }
            a > img,
            img {
                width: 100%;
            }
        }
        .carousel-caption {
            bottom: auto;
            top: 45%;
            z-index: 99;
            h1,
            h2,
            h3,
            h4,
            p {
                padding: 0 20px;
                margin: 0;
            }
            h2 {
                border-right: solid 3px #efefef;
                text-align: right;
            }
            h4 {
                text-align: left;
            }
            &.container,
            .col-xs-4,
            .col-xs-8 {
                padding: 0;
                margin: 0;
            }
        }
    }
    .carousel-control {
        width: 5%;
        z-index: 99;
        &.right,
        &.left {
            background-image: none;
        }
    }
    .carousel-indicators {
        bottom: 30px;
    }
}


/*
Newslist Part
 */

.newslist {
    height: 30px;
    background-color: #2f2f2f;
    span,
    ul,
    li,
    a {
        color: #d9d9d9;
    }
    span {
        margin: 0 10px;
        line-height: 30px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        >li {
            line-height: 30px;
            font-size: 12px;
            display: block;
            white-space: nowrap;
            a {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
                margin: 0 10px;
                text-decoration: none;
            }
        }
    }
}


/*
Banner Parts
 */

.banner {
    padding: 30px 0;
    color: #d9d9d9;
    background-color: #232323;
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 18px;
    }
    .col-xs-3 {
        text-align: center;
    }
    h2 {
        font-size: 16px;
        font-weight: 500;
        margin: 25px 0 20px 0;
    }
    .btn-default {
        font-weight: 800;
        padding: 5px 25px;
        border: none;
        border-radius: 0;
    }
    p {
        font-weight: 300;
        line-height: 1.8em;
        text-indent: 2em;
    }
}


/*
Intro Parts
 */

.intro {
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }
    .pull-left {
        float: none !important;
        text-align: left;
    }
    .pull-right {
        float: none !important;
        text-align: right;
    }
    .container {
        margin: 50px auto;
    }
    >.container-fluid {
        &:nth-of-type(odd) {
            background-color: #efefef;
        }
        &:nth-of-type(even) {
            // border-top: 2px dashed #cdcdcd;
            // border-bottom: 2px dashed #cdcdcd;
            background-color: #ffffff;
        }
    }
    .wrap-context {
        padding: 0 60px;
        h1 {
            font-size: 32px;
            margin: 10px 0 20px 0;
        }
        p {
            font-size: 16px;
            text-indent: 2em;
            font-weight: 100;
        }
    }
}

#fullscreen {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    > #fullscreen-inner {
        position: relative;
        height: 100%;
        width: 100%;
        float: left;
        background-color: rgba(0, 0, 0, 0.3);
        .fullscreen-inner-button {
            height: 35px;
            width: 35px;
            background-color: #343434;
            position: absolute;
            font-size: 18px;
            line-height: 35px;
            color: white;
            text-align: center;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
        > {
            #fullscreen-inner-left,
            #fullscreen-inner-right {
                top: 50%;
                margin-top: -17.5px;
            }
            #fullscreen-inner-left {
                left: 20px;
            }
            #fullscreen-inner-right {
                right: 20px;
            }
            #fullscreen-inner-close {
                top: 0px;
                right: 0px;
                margin: 20px 20px 0 0;
            }
            #fullscreen-image {
                height: 667px;
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                position: relative;
            }
            #fullscreen-image img {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                -ms-transform: scale(1.5, 1.5);
                -webkit-transform: scale(1.5, 1.5);
                transform: scale(1.5, 1.5);
                opacity: 0;
                &:nth-child(1) {
                    -ms-transform: translate(0, -30%) scale(0.6, 0.6);
                    -webkit-transform: translate(0, -30%) scale(0.6, 0.6);
                    transform: translate(0, -30%) scale(0.6, 0.6);
                    z-index: 999;
                    opacity: 0.2;
                }
                &:nth-child(2) {
                    -ms-transform: translate(0, -20%) scale(0.7, 0.7);
                    -webkit-transform: translate(0, -20%) scale(0.7, 0.7);
                    transform: translate(0, -20%) scale(0.7, 0.7);
                    z-index: 999;
                    opacity: 0.4;
                }
                &:nth-child(3) {
                    -ms-transform: translate(0, -10%) scale(0.8, 0.8);
                    -webkit-transform: translate(0, -10%) scale(0.8, 0.8);
                    transform: translate(0, -10%) scale(0.8, 0.8);
                    z-index: 999;
                    opacity: 0.6;
                }
                &:nth-child(4) {
                    -ms-transform: scale(0.9, 0.9);
                    -webkit-transform: scale(0.9, 0.9);
                    transform: scale(0.9, 0.9);
                    z-index: 999;
                    opacity: 0.8;
                }
                &:nth-child(5) {
                    -ms-transform: translate(0, 10%) scale(1, 1);
                    -webkit-transform: translate(0, 10%) scale(1, 1);
                    transform: translate(0, 10%) scale(1, 1);
                    z-index: 999;
                    opacity: 1;
                }
            }
        }
    }
}

.wrap-image {
    position: relative;
    height: 250px;
    img {
        width: 100%;
        height: 250px;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            opacity: 1;
        }
    }
    .wrapper-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 1;
        .wrapper-hover {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 50px;
            width: 50px;
            background-color: $keyColor-2;
            font-size: 25px;
            line-height: 50px;
            color: #232323;
            text-align: center;
            margin-top: -25px;
            margin-left: -25px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
    &:hover>.wrapper-cover {
        opacity: 1;
        -ms-transform: translate(0, 10%) scale(1, 1);
        -webkit-transform: translate(0, 10%) scale(1, 1);
        transform: translate(0, 10%) scale(1, 1);
    }
    &:hover {
        .wrapper-hover {
            -webkit-animation-name: jello;
            animation-name: jello;
        }
    }
    &:hover img {
        &:nth-child(1) {
            opacity: 0.4;
            -ms-transform: translate(0, -20%) scale(0.7, 0.7);
            -webkit-transform: translate(0, -20%) scale(0.7, 0.7);
            transform: translate(0, -20%) scale(0.7, 0.7);
        }
        &:nth-child(2) {
            opacity: 0.6;
            -ms-transform: translate(0, -10%) scale(0.8, 0.8);
            -webkit-transform: translate(0, -10%) scale(0.8, 0.8);
            transform: translate(0, -10%) scale(0.8, 0.8);
        }
        &:nth-child(3) {
            opacity: 0.8;
            -ms-transform: scale(0.9, 0.9);
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
        }
        &:nth-child(4) {
            opacity: 1;
            -ms-transform: translate(0, 10%) scale(1, 1);
            -webkit-transform: translate(0, 10%) scale(1, 1);
            transform: translate(0, 10%) scale(1, 1);
        }
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: 0.3s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*
Product Banner Parts
 */

.product-banner {
    background: url('/static/img/product-banner.jpg') center center repeat-x;
    // background-image: url('/static/img/product-banner.jpg');
    // background-position: center center;
    // background-repeat: repeat-x;
    padding-top: 53px;
    .breadcrumb {
        background-color: transparent;
        border: none;
        padding: 30px 0 0 0;
        a {
            color: #dedede;
            text-decoration: none;
            font-weight: 300;
        }
        &>.active {
            color: #bbbbbb;
            font-weight: 300;
        }
    }
    p {
        color: #dedede;
        margin: 0 20px;
        line-height: 2em;
        text-indent: 2em;
    }
    .btn-default {
        margin: 0 10px 30px 10px;
        border-radius: 0;
    }
}


/*
Product Intro Parts
 */

.product-intro {
    .container-fluid {
        &:nth-of-type(even) {
            background-color: #efefef;
        }
        &:nth-of-type(odd) {
            background-color: #ffffff;
        }
    }
    .intro-image {
        text-align: center;
        img {
            max-width: 100%;
            max-height: 150px;
            padding: 20px 0;
            margin: 0 auto;
        }
    }
    .intro-content {
        padding: 30px 30px 35px;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
            margin: 10px 0;
        }
    }
    .platform-intro {
        padding: 30px;
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            padding-left: 50px;
        }
        ul {
            list-style: none;
            padding: 20px;
            margin: 0;
            &>li {
                line-height: 2em;
                &>p {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                    text-indent: 2em;
                    line-height: 2em;
                }
                &>em {
                    display: block;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    margin-bottom: 5px;
                }
            }
        }
        .btn-default{
            margin-top: -30px;
            margin-right: 20px;
            border-radius: 0;
            background-color:#efefef;
        }
    }
    .wrap-image{
        margin: 40px 0;
        height: 200px;
        &>img{
            height: 200px;
        }
    }
}

/*
Product Catalog Parts
 */
.product-catalog{
    
}
/*
Scroll Button Parts
 */

.scroll {
    .scroll-btn {
        width: 60px;
        height: 50px;
        background: #565656;
        color: #fff;
        line-height: 80px;
        text-align: center;
        position: fixed;
        right: 60px;
        bottom: 0;
        cursor: pointer;
        font-size: 14px;
        .glyphicon-chevron-up {
            font-size: 30px;
            font-weight: lighter;
            color: #fff;
            top: -6px;
        }
    }
    .scroll-line {
        width: 100%;
        position: fixed;
        bottom: 0;
        border-bottom: 4px solid #565656;
    }
}


/*
Footer Parts
 */

.footer {
    color: #d9d9d9;
    background-color: #232323;
    >.container {
        >* {
            margin: 20px 0 0;
        }
        .brand-footer {
            >* {
                margin: 10px;
            }
            img {
                margin: 0 10px 30px 0;
            }
            p {
                font-size: 12px;
            }
            a {
                font-size: 12px;
                font-weight: 300;
                color: #d9d9d9;
                text-decoration: none;
            }
        }
        .nav-footer {
            padding: 15px;
            h1 {
                font-size: 16px;
                font-weight: 500;
                padding: 0;
                margin: 0 0 15px;
            }
            ul {
                border-top: 1px solid #d9d9d9;
                list-style: none;
                padding: 0;
                li {
                    margin: 8px 0 0 15px;
                    > a {
                        font-weight: 300;
                        color: #d9d9d9;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


/*Animation Defination*/

@-webkit-keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: none;
        transform: none;
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
        transform: skewX(0.39063deg) skewY(0.39063deg);
    }
    88.8% {
        -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
        transform: skewX(-0.19531deg) skewY(-0.19531deg);
    }
}

@keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: none;
        transform: none;
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
        transform: skewX(0.39063deg) skewY(0.39063deg);
    }
    88.8% {
        -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
        transform: skewX(-0.19531deg) skewY(-0.19531deg);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
